@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 100% 99%;
    --foreground: 0 0% 0%;

    --card: 45 17% 95%;
    --card-foreground: 0 0% 0%;

    --accent: 209 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 100%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 100%;

    --accent: 209 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-accent;
  }
  body {
    @apply bg-background text-foreground;
  }
} 